* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	overflow-x: hidden;
}

canvas {
	width: 100vw;
	height: 100vh;
	object-fit: cover;
}

.ball-text {
	position: fixed;
	z-index: 2;
	color: #333;
	font-size: 5rem;
	left: 20%;
	top: 42%;
	transform: translate(-20%, -42%);
}

@media screen and (max-width: 320px) {
	.ball-text {
		font-size: 2.5rem;
	}
}
